<h1>Ember Examples</h1>

<h2><a href="/todo">TODO</a></h2>
<p>Basic TODO app</p>

<h2><a href="/simple">Simple User Widget</a></h2>
<p>Simple User Widget that demonstrates data binding in one direction.</p>

<h2><a href="/single">Advanced User Widget</a></h2>
<p>User widget that demonstrates using AJAX-loader GIF for loading feedback and "Poke" functionality (like Facebook)</p>

<h2><a href="/list">User List</a></h2>
<p>Collection of user widgets to demonstrate using a colletions.</p>

