<%= javascript_include_tag 'list_example' %>
<h1>User List</h1>

<p>Open the JavaScript console and play with the variables <code>usersController</code> and <code>userList</code>. This one's a little more advanced: <code>usersController</code> is an <code><a href="http://docs.emberjs.com/#doc=Ember.ArrayController&src=false">Ember.ArrayController</a></code>.
