<%= javascript_include_tag 'single_example' %>
<h1>Advanced User Widget</h1>

<p>Open the JavaScript console and play with the variables <code>user</code> and <code>userWidget</code>. For example, try <code>user.set('isLoading', true)</code></p>
