<%= javascript_include_tag 'todo_list_example' %>

<p>Open the console and play with the <code>todoListView</code> and <code>tasks</code> variables. For example, try <code>tasks.pushObject( App.Task.create({title: "Be Awesome", isCompleted: true}) )</code></p>
