{{#if view.content.isLoading}}

	<img class="loader" src="/assets/ajax-loader.gif"/>

{{else}}

	<img class="avatar" {{bindAttr src="view.content.avatarPath"}}/>
	<div class="name">{{view.content.fullName}}</div>
	{{view App.PokeView contentBinding="view.content"}}
{{/if}}
